.subscribe{
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 15px;
  cursor: pointer;
  margin-right: 10px;
  transition: opacity 0.3s;
}
.subscribe:hover{
  opacity: 0.6;
}
.subscribe:active{
  opacity: 0.5;
}

/* 
gebruik de devtool optie in google chrome om de juiste waarde te vinden. www.supersimple.dev/exercises/buttons 
*/

.join{
  background-color: white;
  border-color: rgb(40, 115, 200);
  border-style: solid;
  border-width: 1px;
  color: rgb(40, 115, 200);
  padding: 14px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.join:hover{
  background-color:rgb(40, 115, 200);
  color: white;
}
.join:active{
  opacity: 0.7;
}
.tweet{
  background-color: rgb(0,135,255);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
  transition: box-shadow 0.15s;
  } 
  .tweet:hover{
  box-shadow: 10px 5px 10px rgba(0,0,0,0.15)
  }